<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<div class="hero">
  <div class="hero-content">
    <h1>Restauracja Mn</h1>
    <p>Super jest!</p>

    <div class="hero-buttons">
      <a href="/dishes" class="btn btn-primary">Zobacz menu</a>
      <a href="/dishes/new" class="btn btn-secondary">Dodaj danie</a>
    </div>
  </div>
</div>
