<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <title>Restauracja Mn</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/dishes">Menu</a>
    <a href="/dishes/new">Dodaj danie</a>
  </nav>

  <main>
    <%- body %>
  </main>
</body>
</html>
